<h1 class="ui header" ng-bind="pizza.name"></h1>

<div class="ui list">
    <div class="list">
        <div class="item">
            <div class="content">
                <a class="header">Name</a>
                <div class="description" ng-bind="pizza.name"></div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a class="header">Vegetarian</a>
                <div class="description" ng-bind="pizza.vegetarian"></div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a class="header">Ingredients</a>
                <div class="description" ng-bind="pizza.ingredients.join(', ')"></div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a class="header">Price</a>
                <div class="description" ng-bind="pizza.price | currency:'£'"></div>
            </div>
        </div>
    </div>
</div>

<div class="ui divider"></div>
<strong>Number of watchers: <span ng-bind="$$watchers.length - 1"></span></strong>
